<html><body><h1>This is <%= @MyName %>'s Webserver</h1>
<p>My FQDN is <%= @fqdn %>, and my IP address is <%= @ipaddress %></p>
<p>And I run on this great Operating System called <%= @operatingsystem %></p>
<p>This time we are using an ERB Template to do the work</p>
</body></html>

